.adminContainer {
    display: flex;
    background: #F4F5F7;
    min-height: 100vh;
}

.mainContent {
    flex: 1;
    margin-left: 260px;
    padding: 2rem;
    transition: margin-left 0.3s ease;
}

@media (max-width: 992px) {
    .mainContent {
        margin-left: 0;
        padding: 4rem 1rem 1rem;
    }

    .mobileToggle {
        display: block !important;
    }
}